* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 436px;

    background: #535971;
}

body, .input-wrapper label, .input-wrapper input {
    font-family: 'Poppins', sans-serif;    

}

body {
    background: #E5E5E5;
    margin: 0;
}

.container {
    display: block;    
    width: 750px;
    margin: auto;    
}

header h1 {
    color: white;
    margin-top: 140px;
    font-family: 'Staatliches', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

header p {
    width: 417px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 750px;
    background: white;    
    margin-top: 58px;
    border-radius: 20px 20px 0px 0px;
    padding: 64px 64px 30px 64px;
}

fieldset {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 30px;
}

fieldset legend {       
    color: #535971;
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;

    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: flex;    
    width: 100%;
    gap: 22px;    
}

.col-2 .input-wrapper input {
    width: 300px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    
}

.input-wrapper label {
    color: #4E4958;
    display: block;
    font-size: 14px;
    line-height: 24px;

    margin-bottom: 8px;
}

.input-wrapper input {    
    background: #FAFAFC;
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;

    color: #535971;
    font-size: 16px;
    line-height: 26px;
}

.input-wrapper label span {
    color: #C1BCCC;
    font-size: 12px;
    line-height: 20px;
}

.input-wrapper label span:hover {
    color: #817d88;
}

.fieldset-wrapper h2 {
    color: #535971;
    font-family: 'Staatliches', sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 8px;
}

.col-3 {
    display: flex;         
    gap: 32px;    
}

.col-3 > div:nth-child(1) {
    width: 100%;    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    background: #535971;
    border-radius: 0 0 20px 20px;
    padding: 52px 0 52px;
    margin-bottom: 366px;
}

footer .button {
    background: #FF5374;
    width: 608px;
    height: 56px;
    border: 0;
    border-radius: 20px;
    padding: 15px 40px;

    color: white;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-size: 20px;    
    line-height: 26px;
    font-weight: 400;
}

footer .button:hover {
    background: #f8375e;
}

